.main_about_fluid {
	position: relative;
	height: 100vh;
	padding: 0;


	.top_right_content .top_host_box span {
		color: #fff;

	}

}



.about_us_fluid {

	width: 100%;


	
}


.about_nature_fluid {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 70px 50px 100px;
	}

	 .about_nature_bg {
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: #F7E9E9;
			width: 100%;
			height: 40%;
	 }


	 .about_nature_tittle {
	 	 text-align: center;
	 	 padding: 30px 0;

	 	   h2 {
	 	  	font-family: 'Conv_bebas-neue-regular';
	 	  	color: #19CBC5;
	 	  	font-size: 45px;
	 	  	position: relative;
	 	  	display: inline-block;


	 	  	  &:after{
	 	  	      content: "";
				    position: absolute;
				    top: 100%;
				    left: 50%;
				    width: 45%;
				    height: 4px;
				    background-color: #19CBC5;
				    transform: translateX(-50%);
	 	  	  }
	 	  }
	 }



.event_nd_tt_wrapper {
	margin: 50px 0;
}



.about_use_text {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
   		padding: 0 15px;


		 p, span {
		 	font-size: 14px !important;
		 	color: #4D4D4D;
		 	font-family: 'Conv_BPG_Glaho';
		 }


	}

	 .abous_us_tittle {

	 	 text-align: center;
	 	 padding: 30px 0;

	 	  h2 {
	 	  	font-family: 'Conv_bebas-neue-regular';
	 	  	color: #19CBC5;
	 	  	font-size: 45px;
	 	  	position: relative;
	 	  	display: inline-block;


	 	  	  &:after{
	 	  	  	content:"";
	 	  	  	position: absolute;
	 	  	  	top: 100%;
	 	  	  	left: 0;
	 	  	  	width: 100%;
	 	  	  	height: 4px;
	 	  	  	background-color: #19CBC5;
	 	  	  }
	 	  }
	 }


.nature_container {
	max-width: 1215px;

	 .col-lg-3 {
	 	padding: 0 4px;
	 }
}



.about_nature_content_box {

		.about_nature_img {

			  img {
			  	width: 100%;
			  	height: 210px;
			  	object-fit: cover;
			  }
		}

}

.about_nature_info_box {
	 padding: 10px 20px 20px;
	background-color: #19CBC5;


	.about_nature_text {

		 h3 {
		 	color: #fff;
		 	font-size: 15px;
		 	font-family: 'Conv_bpg_nino_medium_caps';
		 	text-align: center;
		 	margin-bottom: 10px;
		 	font-weight: bold;

		 }

		 p, span{
 				
 				color: #fff;
 				font-size: 12px !important;
 				font-family: 'Conv_BPG_Glaho' !important;
 				text-align: justify;

		 }
	}

	.about_nature_links {

		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		 span {
		 	color: #fff;
		 	font-family: 'Conv_bpg_nino_medium_caps';
		 	font-size: 13px;
		 }


		 .add_fb {
		 	position: relative;
				

			.fb_notification {
				position: absolute;
			    top: -2px;
    			left: 34px;
			    width: 110px;
			    background-color: #fff;
		        padding: 7px 3px;
		        display: none;
				

				&:after {
					    position: absolute;
					    top: 99%;
					    left: 0;
					    z-index: 100;
					    content: "";
					    background-image: url(../images/fb_triangle2.png);
					    background-repeat: no-repeat;
					    width: 20px;
					    height: 10px;
					    background-size: contain;
				}	


				span {
					color: #19CBC5;
					font-size:11px;
					font-family: 'Conv_bpg_nino_medium_caps';
					margin-bottom: 0px;
				}
			}


		 	a {
		 		display: block;
		 		position: relative;

		 		&:after{

		 			position:absolute;
		 			width: 100%;
		 			height: 100%;
		 			top: 100%;
		 			left: 0;
		 			content: "";
		 			z-index: 100;
				    background-repeat: no-repeat;
				    background-image: url(../images/fb_round_shade.png);
				    background-size: cover;
				    background-position: center;
		 		}
		 		 img {
		 		 	width: 40px;
		 		 }

		 	}

		 	 span {
		 	 	margin-bottom: 10px;
		 	 	display: block;
		 	 }
		 }
		
		.rd_more {
			a {
		 	    font-family: 'Conv_aSHALVA';
			    font-size: 22px;
			    color: #fff;
			    background: url(../images/readmore_arrow.png), linear-gradient(#B2E2EF, #19CBC5);
			    text-align: right;
			    display: inline-block;			 
			    float: right;
			    border-radius: 45px;
			    padding: 1px 48px 2px 36px;
			    background-repeat: no-repeat;
			    background-position: 100px 15px,center;
			    position: relative;

			    &:after{
			    	position: absolute;
				    top: 98%;
				    content: "";
				    left: 0;
				    width: 100%;
				    background-repeat: no-repeat;
				    height: 100%;
				    background-image: url(../images/readmore_shadow.png);
				    background-size: cover;
			    }
		 }
		}

		 
	}
}


#culture_l .about_nature_bg {
	background-color: #F7F7F7;
}

.calendar_fluid {
	 width: 100%;
     background: #FCF9F9;
         padding-bottom: 130px;
         position: relative;
         overflow: hidden;

         .calendar_n_readmore {
         	 position: absolute;
         	 bottom: 50px;
			right: 5%;

			 a {
			 	color: #AAAAAA;
			 	font-size: 30px;
			 	font-family: 'Conv_bebas-neue-regular';
				position: relative;

				&:after{
					  position: absolute;
				    width: 500px;
				    height: 2px;
				    content: "";
				    background-color: #AAAAAA;
				    z-index: 1;
				    top: 100%;
				    left: 0;
				}

			 }
         }


		.calendar_container {
 			 margin-bottom: 50px;
			 width: inherit;
			 display: flex;
			

		}


		.calendar_left {
	
			 width: 60%;

			 .calendar_up_content {
			 	max-width: 470px;
			    border-bottom: 2px solid #AAAAAA;
			    padding: 0 30px 10px 140px;
			    max-width: 600px;
			 }
    		
		}

		.calendar_right_filter {
			
		}



		.calendar_slide {
			position: relative;

			.owl-dots {
				display: none;



			}
			 span {
			 	color: #AAAAAA;
			 	font-size: 32px;
			 	font-family: 'Conv_bebas-neue-bold';
			 	 padding: 0px 10px;
   				line-height: 40px;
			 }

		.owl-item {
			border: 2px solid transparent;
			display: flex;
			align-items: center;
			justify-content: center;
		}


	
		.owl-nav {

	 position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    height: 45px;
			
			.owl-prev {
				position: absolute;
				top: 50%;
				left: -40px;
				transform: translateY(-50%);
				z-index: 10;
				 display: flex;
			    align-items: center;
			    justify-content: center;


				span {
				 	color: transparent !important;
				 		width: 0;
						height: 0;
						border-top: 7px solid transparent;
					    border-right: 10px solid #AAAAAA;
					    border-bottom: 7px solid transparent;
						display: inline-block;
				 } 
			}

			.owl-next{ 
				position: absolute;
			    top: 50%;
			    right: -40px;
			    transform: translateY(-50%);
			    z-index: 10;
			    display: flex;
			    align-items: center;
			    justify-content: center;


				 span {
				 	color: transparent !important;
				 		width: 0;
						height: 0;
						border-top: 7px solid transparent;
					    border-left: 10px solid #AAAAAA;
					    border-bottom: 7px solid transparent;
						display: inline-block;
				 } 
			 }
    		

			 button {
			 	outline: none;
			 }
		}



		}

}






.date_calendar {

			.owl-dots {
				display: none;



			}
			 span {
			 	color: #AAAAAA;
			 	font-size: 21px;
			 	font-family: 'Conv_bebas-neue-bold';
			 	 padding: 0px 5px;
   				line-height: 40px;
			 }

		.owl-item {
			border: 2px solid transparent;
			display: flex;
			align-items: center;
			justify-content: center;
		}

	.owl-nav {

	 position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    height: 45px;
			
			.owl-prev {
				position: absolute;
				top: 50%;
				left: -30px;
				transform: translateY(-50%);
				z-index: 10;
				 display: flex;
			    align-items: center;
			    justify-content: center;


				span {
				 	color: transparent !important;
				 		width: 0;
						height: 0;
						border-top: 7px solid transparent;
					    border-right: 10px solid #AAAAAA;
					    border-bottom: 7px solid transparent;
						display: inline-block;
				 } 
			}

			.owl-next{ 
				position: absolute;
			    top: 50%;
			    right: -30px;
			    transform: translateY(-50%);
			    z-index: 10;
			    display: flex;
			    align-items: center;
			    justify-content: center;


				 span {
				 	color: transparent !important;
				 		width: 0;
						height: 0;
						border-top: 7px solid transparent;
					    border-left: 10px solid #AAAAAA;
					    border-bottom: 7px solid transparent;
						display: inline-block;
				 } 
			 }
    		

			 button {
			 	outline: none;
			 }
		}



}



.tour_bottom img {

	display: inline-block !important;
    width: 20px !important;
    margin-right: 5px;
}



.calendar_days {
	display: flex;
	    width: 495px;
	align-items: center;
	padding: 0 50px;
	position: relative;
	justify-content: center;

	  .c_prev {
	  					width: 0;
						height: 0;
						border-top: 7px solid transparent;
					    border-right: 10px solid #AAAAAA;
					    border-bottom: 7px solid transparent;
					    position: absolute;
					    top: 50%;
					    transform: translateY(-50%);
					    left: 30px;
					    cursor: pointer;
	  }

	   .c_next {
	  					width: 0;
						height: 0;
						border-top: 7px solid transparent;
					    border-left: 10px solid #AAAAAA;
					    border-bottom: 7px solid transparent;
					    position: absolute;
					    top: 50%;
					    transform: translateY(-50%);
					    right: 40px;
					    cursor: pointer;
	  }


	  .c_fluid {

	  	/*  width: 280px;*/
	  	  overflow: hidden;
	  	  display: flex;
	  	  align-items: center;
	  }

	 .c_day {

	 	 border: 2px solid transparent;
	 	 width: 36px;
	 	 height: 36px;
		 min-width: 55px;
         min-height: 55px;
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 cursor: pointer;
		 margin-right: 2px;
		 font-size: 32px;
		 color: #AAA;
		 transition: all .3s;


		 		&.active {

					    border-color: #AAA;
					    color: #D3DEBC;

		 		}
	 	 /* span {
				
				
	 	  }*/
	 }
}

/*//*/
.c_month_fluid {
	 width: 254px;
	  	  overflow: hidden;
	  	  display: flex;
	  	  align-items: center;
}


.calendar_down_content {
	display: flex;
    width: 310px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin: 7px 0 10px 220px;
	


	  .c_month_prev {
	  					width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid #AAAAAA;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    cursor: pointer;
	  }

	   .c_next_month {
	  					width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #AAAAAA;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    cursor: pointer;

					   
	  }


	  .c_fluid_n {
	width: 235px;
    overflow: hidden;
    display: flex;
    align-items: center;
	  }

	 .c_month {

	 	 border: 1px solid transparent;
   /* width: 120px;
    height: 36px;*/
    min-width: 80px;
    min-height: 30px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 2px;

				color: #AAA;

		 		
	 	  span {
				
				font-family: 'Conv_bebas-neue-regular';
	 	  }

			&.active {

					border-color: #AAA;
					color: #D3DEBC;

		 		}

	 }
}




.calendar_right_filter {
	flex-grow: 1;
    display: flex;
    justify-content: center;



     		select {
     				font-family: 'Conv_bebas-neue-regular';
     				color: #D3DEBC;
     				   width: 135px;
    				font-size: 21px;
    				border-bottom: 1px solid #D3DEBC;
    				/*-webkit-appearance: none;*/


     		}


    }



.about_main_slider .owl-item {
	height: 485px;
    align-items: center;
    display: flex;

    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    	display:block;
    }
}

.tour_content {
	background-color: #DCDBDB;
	    max-width: 100%;
    height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .tou_cl_info_tittle {

    	    color: #4E4D51;
		    font-family: 'Conv_bebas-neue-regular';
		    font-size: 23px;
		    margin-top: 10%;
		    padding: 0 70px;
		    text-align: center;

    }

    .tour_cn_wrapper {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    }




}

.owl-item:nth-child(4n) .tour_content {
	background-color: #DCDBDB;
	height: 380px;
}

.owl-item:nth-child(5n) .tour_content {
	 background-color: #F7E9E9;
    height: 485px;

}
.owl-item:nth-child(3n) .tour_content {
	 background-color: #CDDAAE;
    height: 440px;
 
}

.owl-item:nth-child(7n) .tour_content {
	 background-color: #AFE1EF;
	 height: 400px;  
 
}


  
  .tour_tittle {
  	text-align: center;
  	  h2 {
  	  		font-family: 'Conv_bebas-neue-regular';
  	  		color: #4E4D51;
  	  		font-size: 20px;
  	  }


  }  

.tour_date {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


  	 .tour_dt {
  	  	 font-family: 'Conv_bebas-neue-regular';
  	  		color: #4E4D51;
  	  		font-size:50px;
  	  }


 .tour_dt_n {

 	 span {
 	 	  	 font-family: 'Conv_bebas-neue-regular';
  	  		color: #4E4D51;
  	  		display: block;
 	 }
 } 	



 .tour_bottom {
 	display: flex;
    justify-content: space-between;
    width: 90%;

 	  span {
 	  	font-family: 'Conv_bebas-neue-regular';
 	  	color: #4E4D51;
  	  	cursor: pointer;


 	  	 &:last-child{
 	  	 	position:relative;

 	  	 	 &:after{
 	  	 	 	position:absolute;
 	  	 	 	width: 100px;
 	  	 	 	height: 1px;
 	  	 	 	content: "";
 	  	 	 	background-color: #6D6767;
 	  	 	 	z-index: 1;
 	  	 	 	top: 100%;
 	  	 	 	left: 0;
 	  	 	 }
 	  	 }
 	  }
 }  

.about_main_slider  .owl-prev, .about_main_slider  .owl-next {
	outline: none;
}


.about_main_slider  .owl-prev span{
	
	color: transparent;
	display: block;
	width: 35px;
	height: 35px;
	background-image: url("../images/ab_prev.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	
}

.about_main_slider  .owl-next span{
	
	color: transparent;
	display: block;
	width: 35px;
	height: 35px;
	background-image: url("../images/ab_next.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	
}


.about_main_slider  .owl-nav {
	display: flex;
    justify-content: space-between;
    margin-top: 30px;  
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.about_main_slider .owl-dots button{

	width: 12px;
	height: 12px;
	border: 2px solid #D1D3D4;
	outline: none;
	position: relative;
	

}


.about_main_slider .owl-dots {

 	position: absolute;
    left: 50%;
    transform: translateX(-50%);
     bottom: -95px;

			
			
}

.about_main_slider .owl-dot:after{

		content:"";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 100;
		width: 5px;
		height: 5px;
		background-color: #19CBC5;
		transition:.4s;
		opacity: 0;

}
.about_main_slider .owl-dot.active:after {
		opacity: 1;
			
}
   

.about_main_slider .owl-dots button:not(:last-child) {

	margin-right: 10px;
}  




.in_culture_nature_fluid {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.2)),url("../images/nature_bg2.png");
	    background-position: center center;
    background-size: cover;
}


.about_nd_row {
	padding-bottom: 100px;
}

.about_nd_content {
	


   

   .about_nd_img {

   	  img {
   	  	width: 100%;
   	  	height: 270px;
   	  	object-fit: cover;
   	  }
   }


   .about_nd_text {
   	margin-top: 20px;

   	   p,span {

   	   		color: #4D4D4D;
   	   		font-family: 'Conv_bpg_web' !important;
   	   		font-size: 13px !important;

   	   }
   }

}


.rgh_bg {
	background-color: #F7F7F7;
}

.about_nd_content:first-child {
	padding-top: 40px;
}

.about_nd_right_content {
	position: relative;

	.about_nd_right_content_hover {

		 width: 100%;
		 height: 0;
		 position: absolute;
		 left: 0;
		 bottom: 0;
		 z-index: 100;
		 background-color: rgba(25,203,197,.9);
		 overflow: hidden;
		 display: flex;
		 flex-direction: column;
		 justify-content: space-around;
		 align-items: center;
		 overflow: hidden;
		 transition: all .5s;


		 h3 {
		 	color: #fff;
		 	font-size: 12px;
		 	font-family: 'Conv_bpg_nino_medium_caps';
		 }

		 a {
			font-family: 'Conv_aSHALVA';
		    font-size: 19px;
		    color: #fff;
		    background: url(../images/readmore_arrow.png), linear-gradient(#B2E2EF, #19CBC5);
		    text-align: right;
		    display: inline-block;
		    float: right;
		    border-radius: 45px;
		    padding: 1px 31px 2px 36px;
		    background-repeat: no-repeat;
		    background-position: 92px 13px,center;
		    position: relative;
		    align-self: flex-end;
		    margin-right: 10px;

		     &:after{
		     	position: absolute;
			    top: 98%;
			    content: "";
			    left: 0;
			    width: 100%;
			    background-repeat: no-repeat;
			    height: 100%;
			    background-image: url(../images/readmore_shadow.png);
			    background-size: cover;
		     }
		 }

		
	}

	  .about_nd_right_content_img {
	  	

	  


	  	  img {
	  	  	width: 100%;
		    height: 325px;
		    object-fit: cover;
	  	  }
	  }


	  &:hover .about_nd_right_content_hover {
	  	height: 30%;
	  }
}
.about_nd_right_content .about_nd_right_content_img{
	padding-top: 20px;
}

.about_nd_right_content:nth-child(1) .about_nd_right_content_img{
	padding-top: 40px;
}



.calendar header .right.button {
	background: #19CBC5 !important;
	user-select: none;
}

.calendar header .left.button {
	background: #19CBC5 !important;
	user-select: none;
}







.cl_calenadar {

	 position: relative;

	  img {
	  	width: 30px;
	  	cursor: pointer;
	  }

	 .js_calendar {
			
		 width: 260px;
	 	 position: absolute;
	 	 top: -100px;
    	 left: 35px;
	 	 z-index: 100;
	 	 display: none;

	 	  	&.activex {

	 	  		display: block;
	 	  	}
	 }
}



.main_about_fluid .main_top_container .welcome_tittle span{
	
	color: #fff;
}

.main_about_fluid .main_top_container .top_right_content .top_host_box span:first-child:after{
	background-color: #fff;
}



.more_question_fluid {
	display: flex;
	align-items: center;
	justify-content: center;


	a {

		padding: 19px 15px;
	    border: 2px solid #19CBC5;
	    background-color: #fff;
	    transition: .4s;
	    font-family: 'Conv_BPG_Glaho';
	    color: #19CBC5;
	    border-radius: 50px;
	    margin-bottom: 100px;

	    &:hover {
	    	background-color:#19CBC5;
	    	color: #fff;
	    }



	}
}