.main_top_fluid {
	position: relative;
	height: 100vh;
	background-image: url("../images/sky.png");
	background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    backface-visibility: hidden;
}

.mountain_box {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-image: url("../images/mountain.png");
	width: 100%;
	height: 67%; 
	background-repeat: no-repeat;
    background-size:cover;

}



.top_scoll {
	position: fixed;
	right: 5%;
	bottom: 5%;
	z-index: 1000;
	display: none;
	user-select: none;
	 animation: scrollAnime 2s;
	 animation-direction: alternate-reverse;
	 animation-iteration-count: infinite;
}

.main_tittle_box {
	
	position: absolute;
    left: 0;
    transform: translate(0%,-133%);
    top: 55%;
    width: 100%;
    text-align: center;
    z-index: 1;
    animation-name: tittleAnime;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
 	transition-timing-function: cubic-bezier(.09,.44,.44,1);
 	user-select: none;

	 h1 {
	 	color: #fff;
	 	font-family: 'Conv_bebas-neue-bold';
	 	font-size: 165px;

	 }

}

@keyframes tittleAnime {

	 0% {
		opacity: 0;
		top: 80%;
	 }
	 30% {
	 	opacity: .1;
	 }

	 100% {
		opacity: 1;
		top: 49%;
	 }
}

.b_cloud {
	position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
    opacity: .9;
    animation-name: b_cloudAnime;
    animation-duration: 18s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    user-select: none;

     img {
     	    max-width: 800px;
     }
}


@keyframes b_cloudAnime {
	0% {
		
		transform: translate(0);
	}

 	60%{

		transform: translate(30px, 40px);
 	}

 	100% {

		transform: translate(65px, 40px);
 	}

}
.s_cloud {
	user-select: none;
}
.s_cloud_box .s_cloud:first-child {

	position: absolute;
    right: 1%;
    top: 8%;
    z-index: 5;
    animation-name: s_cloudAnime;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    

       	   img {
       	   	max-width: 350px;
       	   }
}


@keyframes s_cloudAnime {
	0% {
		
		transform: translate(0);
	}

 	100% {

		transform: translate(25px, 30px);
 	}

}

.s_cloud_box .s_cloud:last-child {

	position: absolute;
    right: 10%;
    top: 43%;
    z-index: 1;
    animation-name: s2_cloudAnime;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;


       	   img {
       	   	max-width: 250px;
       	   }

}

@keyframes s2_cloudAnime {
	0% {
		
		transform: translate(0);
	}


 	100% {

		transform: translate(-45px, 10px);
 	}

}


.main_top_container {
	display: flex;
	justify-content: space-between;
	padding: 25px 10px;
	z-index: 1000;
	position: absolute;
    width: 80%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

	  .top_left_content {
	  	display: flex;


	  }

	  .welcome_tittle {
	  	max-width: 155px;
	  	margin-left: 20px;
	  	display: flex;
	    flex-direction: column;
	    justify-content: center;


	  	  span {
	  	  	font-size: 11px;
	  	  	color: #00665C;
	  	  	font-family: 'Conv_kalinga';
	  	  	text-transform: uppercase;
	  	  }

	  	  h2 {
	  	  	color: #fff;
	  	  	font-size: 18px;
	  	  	font-family: 'Gothic725BT-BlackA';
	  	  	margin-top: 10px;

	  	  }
	  }


	  .top_right_content{
	  	    flex-direction: column;
		    display: flex;
		    justify-content: center;

	  	  .top_host_box {

	  	  	    span {
	  	  	    	font-size: 11px;
			  	  	color: #00665C;
			  	  	font-family: 'Conv_kalinga';
			  	  	text-transform: uppercase;
			  	  	position: relative;
			  	  	display: inline-block;

			  	  	&:not(:last-child){
			  	  		margin-right: 10px;
			  	  	}

			  	  	&:first-child:after {
						    position: absolute;
						    content: "";
						    top: 0;
						    right: -8px;
						    height: 90%;
						    width: 1px;
						    background-color: #00665C;
			  	  	}
	  	  	    }
	  	  }
	  }

	  .top_langugage_menu_box {
	  	justify-content: flex-end;
    	display: flex;
    	margin-top:25px;
				
				.language_box {

					border-radius: 50%;
					background-color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 45px;
   					height: 45px;
   					margin-right: 10px;

					 span {
					 	color: #19CBC5;
					 	font-family: 'Conv_bebas-neue-regular';
					 	font-size: 23px;
					 	cursor: pointer;
					 }
				}



				.hamburger_menu {
					background-color: #fff;
					width: 45px;
   					height: 45px;
   					border-radius: 50%;
   					position: relative;
   					cursor: pointer;

   					&>div {
   						position: absolute;
   						width: 70%;
   						height: 3px;
   						border-radius: 100px;
   						background-color: #19CBC5;
   						transition: all .4s;
   					}


   					.bur1 {
						
							top: 13px;
						    left: 50%;
						    transform: translateX(-50%);

						      &.active {

						      	     top: 50%;
   									 transform: translateX(-50%) rotate(315deg);
						      }

   					}

   					.bur2 {
						    top: 20px;
						    left: 50%;
						    transform: translateX(-50%);

						     &.active {
						     	opacity: 0;
						     }
   					}

   					.bur3 {
						
							top: 27px;
						    left: 50%;
						    transform: translateX(-50%);

						    &.active {
						    	top: 50%;
    							transform: translateX(-50%)  rotate(-315deg);
						    }
   					}


				}

	  }

}



.main_menu_fluid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100vh;
	background-color: rgba(25, 203, 197, .9);
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: .4s;

	  &.active {
	  	opacity: 1;
	  	visibility: visible;
	  }

	  .main_navbar {
	  	display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	height: 100%;
	  	width: 100%;
	  	display: none;

	  	  &.active {
	  	  	display: flex;
	  	  }

	  	   ul {

	  	   	  li {
				    text-align: center;
				    margin-bottom: 10px;
				    min-width: 275px;
				    padding: 0 25px;

	  	   	  	  a {
	  	   	  	  	color: #fff;
	  	   	  	  	font-size: 35px;
	  	   	  	  	font-family: 'Conv_bebas-neue-bold';
	  	   	  	  	transition: 0.3s ease-in-out;
	  	   	  	  	display: inline-block;
	  	   	  	  	width: 100%;
	  	   	  	  	height: 100%;


	  	   	  	  }


	  	   	  	 &:hover a {
	  	   	  	 	color: rgb(25, 203, 197);
	  	   	  	 }
	  	   	  }
	  	   }

	  }
}


.main_navbar ul {
  perspective: 1000px;
}
.main_navbar ul li {
  transform-origin: top center;
  opacity: 0;
  overflow: hidden;

}
.main_navbar ul li:nth-child(1) {
  animation-name: menu-5;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.main_navbar ul li:nth-child(2) {
  animation-name: menu-5;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.main_navbar ul li:nth-child(3) {
  animation-name: menu-5;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.main_navbar ul li:nth-child(4) {
  animation-name: menu-5;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.main_navbar ul li:nth-child(5) {
  animation-name: menu-5;
  animation-duration: 1050ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.main_navbar ul li:nth-child(6) {
  animation-name: menu-5;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes menu-5 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/*// menu hover*/

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  
}


.main_navbar li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -1px;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
          transition: 0.3s ease-in-out;
          z-index: -1;
}

.main_navbar li:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}




.home_search_box {

	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%);
	 top:60%;
	 z-index: 10;
	 width: 360px;


	  form {
	  	border-radius: 50px;
	  	display: flex;
	  	overflow: hidden;
			
			 input {
			 	background-color: rgba(255,255,255,.7);
			 	width: calc(100% - 45px);
			 	padding: 0px 15px;
			 	color: #19CBC5;
			 	transition: .4s;
			 	font-family: 'Conv_bpg_nino_medium_caps';
			 	

			 	&:focus {
			 		
			 		background-color: rgba(255,255,255, .9);
			 	}

			 	&:focus + button {
			 		
			 		background-color: rgba(255,255,255, .9);
			 	}
			 }

			 button {
				
				border: none;
				outline: none;
				background-image: url("../images/home_search.png");
				background-position: center;
				background-repeat: no-repeat;
				background-color: rgba(255,255,255,.7);
			    background-size: 55% 55%;
			    width: 45px;
   				height: 45px;
   				transition: .4s;
			    cursor: pointer;
			 }
	  }
}



.bottom_link_box {
	position: absolute;
    bottom: 9%;
    left: 12%;
    z-index: 100;
    display: flex;

	 .bottom_link {

	 	&:not(:last-child){
	 		margin-right: 30px;
	 	}

	 	  a {

	 	  	    font-size: 18px;
	 	  	    font-family: 'Conv_bebas-neue-regular';
			    background-color: rgba(255, 255, 255, 0.75);
			    width: 110px;
			    height: 110px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    border-radius: 50%;
			    color: #19CBC5;
			    position: relative;


			    &:after {
			    	 position:absolute;
			    	 content:"";
			    	 width:115%;
			    	 height:115%;
			    	 top:50%;
			    	 left: 50%;
			    	 transform: translate(-50%, -50%);
			    	 background-color: rgba(255,255,255,.5);
			    	 border-radius:50%;
			    	 z-index: -1;
			    }
	 	  }
	 }
}


.scrollspy_button {

	 position: absolute;
	 bottom: 5%;
	 left: 50%;
	 transform: translateX(-50%);
	 z-index: 100;
	 animation: scrollAnime 2s;
	 animation-direction: alternate-reverse;
	 animation-iteration-count: infinite;
	 user-select: none;

	 &:after{
	 	position:absolute;
	 	content: "";
	 	width: 110%;
	 	height: 110%;
	 	background-color: rgba(255,255,255,.8);
	 	top: 50%;
	 	border-radius: 50%;
	 	left: 50%;
	 	transform: translate(-50%,-50%);
	 	z-index: -1;
	 }

	    a {

	    	 img {
	    	 	width: 50px;
	    	 	opacity: .9;
	    	 	transition: .3s;
	    	 }
	    }

	    &:hover img {
	    	opacity: 1;
	    }
}


@keyframes scrollAnime {

	0% {
		
		transform: translateX(-50%) translateY(0);
	}

	100% {
		
		transform: translateX(-50%) translateY(10px);
	}
}


/*section 2*/



.en_menu_fluid {

	 width: 100%;
	 background-color: #F7F7F7;

	  .en_menu_container {
	  	    max-width: 1070px;
		    margin: 0 auto;
		    display: flex;
		    padding: 100px 0 80px;
		   justify-content: space-around;

	  	  &>div {

	  	  	 
	  	  	 display: flex;
    		 justify-content: center;
    		 width: 205px;
    		 height: 180px;
    		 align-items: center;
	  	  }



	  	  .en_menu {

	  	  	&:nth-child(1){
	  	  		background-color: rgba(178,226,239,.3);
	  	  	}

	  	  	&:nth-child(2){
	  	  		background-color: rgba(247,233,233,.3);
	  	  	}

	  	  	&:nth-child(3){
	  	  		background-color: rgba(210,221,186,.3);
	  	  	}

	  	  	&:nth-child(4){
	  	  		background-color: rgba(178,226,239,.3);
	  	  	}

	  	  	&:nth-child(5){
	  	  		background-color: rgba(247,233,233,.3);
	  	  	}

	  	  	  a {
	  	  	  	display: block;
	  	  	  	width: 150px;
	  	  	  	height: 130px;
	  	  	  	display: flex;
			    align-items: center;
			    justify-content: center;
			    flex-direction: column;

			     img {
			     	
			    	max-width: 85px;
			     }

	  	  	  	 span {
	  	  	  	 	color: #19CBC5;
	  	  	  	 	font-family: 'Conv_aSHALVA';
	  	  	  	 	font-size: 35px;
	  	  	  	 	padding-top: 10px;
	  	  	  	 }
	  	  	  }
	  	  }
	  }
}




/*// culture*/



.m_culture_fluid {
	width: 100%;
	display: flex;
	justify-content: space-between;


	  &>div {
	  	width: 49.8%;
	  	height: 100vh;

	  	 &:hover  a:before{
              	

              	width:50%;

		    }

	  }

	  .m_culture {
	  	    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) ,url(../images/nature_bg.png);
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    display: flex;
		    align-items: center;
		    justify-content: center;

		   
		 }


		 .m_nature {
		 	background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) ,url(../images/nature_bg2.png);
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		 }

		
	a {
		color: #fff;
		font-family: 'Conv_bebas-neue-regular';
		font-size: 70px;
		position: relative;

		 &:after{
		 	position: absolute;
		    content: "";
		    width: 50%;
		    height: 4px;
		    background-color: #fff;
		    left: 50%;
		    transform: translateX(-50%);
		    bottom: -10px;

		 }

		 &:before{

		 	position: absolute;
		    content: "";
		    width: 0%;
		    height: 4px;
		    background-color: #19CBC5;
		    left: 50%;
		    transform: translateX(-50%);
		    bottom: -10px;
		    transition: .4s;
		    z-index: 100;

		 }
	}



}


/*//gif*/



.gif_fluid {

	 width: 100%;
	 background: url("../images/trip_img.png"),linear-gradient(rgb(25,203,197),rgb(25,203,197));
	 background-position: center center;
	 background-repeat: no-repeat;
	 background-size: contain;
	 height: 360px;
	 position: relative;
	 overflow: hidden;
	 background-position:100% 75%;
			

			.gif_tittle {
				width: 100%;
				text-align: center;
				margin-top: 30px;

				  h2 {
				  	color: #fff;
				  	position: relative;
				  	font-family: 'Conv_bebas-neue-regular';
  					font-size: 40px;
  					display: inline-block;
						
						&:after{

						    position: absolute;
						    content: "";
						    width: 60%;
						    height: 4px;
						    background-color: #fff;
						    left: 50%;
						    transform: translateX(-50%);
						    bottom: -5px;
						    transition: .4s;
						    z-index: 100;

						}

				  }
			}



	 .gif_box {
	 	text-align: center;
	 	h3 {
	 		color: #fff;
	 		font-family: 'Conv_aSHALVA';
	 		font-size: 30px;
	 	}

	 	img {
	 		cursor:pointer;
	 	}

	 	
	 }	

}



.gif_container .gif_box:nth-child(1){
	position: absolute;
    top: 42%;
    left: 17%;
    height: 97px;
    width: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gif_container .gif_box:nth-child(2){
	
	h3 {
	 padding-bottom: 20px;
	}
	position: absolute;
	top: 47%;
    left: 38%;

}


.gif_container .gif_box:nth-child(3){
    position: absolute;
    top: 38%;
    left: 53%;
}

.gif_container .gif_box:nth-child(4){
	position: absolute;
    top: 32%;
    left: 64%;
}
.gif_container .gif_box:nth-child(5){
	position: absolute;
    top: 44%;
    left: 78.5%;
}

/*// popular post*/
.home_popular_post_fluid_tittle {

	  	   text-align: center;
	  	    h2 {
	  	    	color: #19CBC5;
	  	    	font-size: 45px;
	  	    	font-family: 'Conv_bebas-neue-regular';
	  	    	position: relative;
	  	    	    display: inline-block;

	  	    	&:after{
	  	    		content:"";
	  	    		position: absolute;
	  	    		width: 50%;
	  	    		top: 100%;
	  	    		left: 50%;
	  	    		transform: translateX(-50%);
	  	    		height: 4px;
	  	    		background-color: #19CBC5;
	  	    	}
	  	    }
	  }

.home_popular_post_fluid {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 160px 50px 100px;

	  


	  .home_post_fluid {
	  	position: relative;
	  	width: 100%;
		height: 460px;
		 margin-top: 80px;
		
	  	  .post_fluid_content {

	  	  

	  	  	    position: absolute;
			    top: 0%;
			    width: 21%;
			    height: 100%;
			    transition:all .9s;
			    cursor: pointer;
			    box-shadow: 1px 1px 8px 0px #21252978;

			    &:after{
			        content: "";
				    position: absolute;
				    top: 100%;
				    left: 0;
				    background-image: url(../images/posts_shadow.png);
				    width: 100%;
				    height: 5%;
				    background-repeat: no-repeat;
				    background-position: center center;
			    }



			      &:nth-child(1){
					 left: 16%;
					z-index: 50;

			    }

			    &:nth-child(2){
					
					left: 33%;
					z-index: 40;

			    }

			     &:nth-child(3){
					
					left: 50%;
					z-index: 30;

			    }

			     &:nth-child(4){
					
					left: 66%;
					z-index: 20;

			    }

			     &:hover{

			    	transform: scale(1.1);
			    	z-index: 1000;
			    }

			
	  	  	    img {
	  	  	    	width: 100%;
	  	  	    	height: 100%;
	  	  	    	object-fit: cover;
	  	  	    }


	  	  	    &.deactive {
	  	  	    	z-index: 100;
	  	  	    }

	  	  	    &.active {
					z-index: 1000;
	  	  	    }
	  	  }
	  }
}


.post_hover_content {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	opacity: 0;
	display: none;
	transition:all .4s;


	

	&:after{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: -1;
	}

	.post_hover_content_child {
		padding: 0 30px;
	}


	h3 {
	font-size: 22px;
	font-family: 'Conv_bpg_web';
	color: #fff;
	text-align: center;
	}

	p {
		font-family: 'Conv_bpg_web';
		color: #fff;
		font-size: 11px;
		text-align: justify;
		margin: 20px 0;
	}

	a {
	font-family: 'Conv_aSHALVA';
    font-size: 22px;
    color: #fff;
    background: url("../images/readmore_arrow.png"), linear-gradient(#B2E2EF, #19CBC5);
    text-align: right;
    display: inline-block;
    margin-top: 30px;
    float: right;
    border-radius: 45px;
    padding: 1px 48px 2px 36px;
    background-repeat: no-repeat;
    background-position: 95px 17px,center;
    position: relative;
    animation: readmoreAnime 1s;

    	&:after{
    		    position: absolute;
			    top: 98%;
			    content: "";
			    left: 0;
			    width: 100%;
			    background-repeat: no-repeat;
			    height: 100%;
			    background-image: url(../images/readmore_shadow.png);
			    background-size: cover;
    	}

	}



	
}


.post_fluid_content:hover .post_hover_content{
	
	display: flex;
	opacity: 1;
	transition: .4s;
}


@keyframes readmoreAnime {
	0%{
		opacity: 0;
		transform: translateY(50px);

	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}


.home_popular_post_fluid_bg {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #F7E9E9;
	width: 100%;
	height: 40%;

}





.home_video_fluid {
	width: 100%;
	padding: 100px 80px 150px;


}

	.modal-dialog {
	    max-width: 800px;
	    width: 80%;
	    height: 100%;
	    margin: 0 auto;
		}

		.modal-content {
	    position: relative;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    width: 100%;
	    pointer-events: auto;
	    background-color: transparent;
	    background-clip: padding-box;
	    border:unset;
	    outline: 0;
	    align-items: center;
	    height: 100%;
	    width: 100%;
		}

		.modal-body {
			width: 100%;
			padding: 0;
			display: flex;
			align-items: center;

			   video {
			   	width: 100%;
			   	height: 100%;
			   	object-fit: cover;
			   	cursor: pointer;
			   }

			   video::-webkit-media-controls {
  				display: none;
				}
		}

	 .home_video_tittle {

			text-align: center;

			 h2 {
			 	color: #19CBC5;
			    font-size: 45px;
			    font-family: 'Conv_bebas-neue-regular';
			    position: relative;
			    display: inline-block;

			    &:after {
			    	    content: "";
					    position: absolute;
					    width: 50%;
					    top: 100%;
					    left: 50%;
					    transform: translateX(-50%);
					    height: 4px;
					    background-color: #19CBC5;
			    }

			 }

	 }

   .home_video_container {

   	  max-width: 1070px;
   	  margin: 80px auto 0;
   	 

   	  .home_video_wrapper {
   	  	display: flex;
   	  	justify-content: space-between;
   	  	width: 100%;
   	  }


   	  



   
   }



	   .home_video_box {

   	   	      width: 32.5%;
			  height: 420px;
			  overflow: hidden;
			  position: relative;
			  user-select: none;

			    .video_decor {
			    	position: absolute;
			    	width: 100%;
			    	height: 100%;
			    	top: 0;
			    	left: 0;
			    	background-color: rgba(0,0,0,.4);
			    	display: flex;
			    	align-items: center;
			    	justify-content: center;

			    	 &.active {
			    	 	display: none;
			    	 }
			    }


   	   	    video {
   	   	    	width: 100%;
   	   	    	height: 100%;
   	   	    	object-fit: cover;
   	   	    	cursor: pointer;
   	   	    }

   	   	    video::-webkit-media-controls {
  				display: none;
			}
   	   }

.home_video_readmore {

		display: flex;
		justify-content: space-between;

		.video_shadow {
			position: relative;
			width: 32.5%;
			height: 40px;


			&:after{
				    content: "";
				    position: absolute;
				    top: 0;
				    left: 0;
				    background-image: url(../images/posts_shadow.png);
				    width: 100%;
				    height: 55%;
				    background-repeat: no-repeat;
				    background-position: center center;
			}
				
				a {
					    font-family: 'Conv_aSHALVA';
					    font-size: 22px;
					    color: #fff;
					    background: url(../images/readmore_arrow.png), linear-gradient(#B2E2EF, #19CBC5);
					    text-align: right;
					    display: inline-block;
					    margin-top: 40px;
					    float: right;
					    border-radius: 45px;
					    padding: 1px 48px 2px 36px;
					    background-repeat: no-repeat;
					    background-position: 115px 15px,center;
					    position: relative;

					    &:after{
							position: absolute;
						    top: 98%;
						    content: "";
						    left: 0;
						    width: 100%;
						    background-repeat: no-repeat;
						    height: 100%;
						    background-image: url(../images/readmore_shadow.png);
						    background-size: cover;
					    }
				}
		}
}





/*//footer*/

.footer_fluid {
	width: 100%;
	background-image: url("../images/footer_bg.png");
	background-size: cover;
	background-position: center;
	padding-bottom: 20px;
	background-repeat: no-repeat;

	 .footer_top {

		    display: flex;
		    justify-content: center;
		    padding: 50px 0;
		    border-bottom: 1px solid #fff;

	 	  .footer_top_content {

				form {

					display: flex;
					border-radius: 15px;
					overflow: hidden;
					width: 325px;
					margin-top: 10px;
					position: relative;


					.ln_box {

						position: absolute;
					    width: 69%;
					    height: 1px;
					    top: 73%;
					    background-color: #19CBC5;
					    left: 14px;
					    z-index: 100;
					    opacity: 0;
					    transition: all .4s;

						
					}

					 input {
					 	background-color: rgba(0, 0, 0, 0.5);
					    width: calc(100% - 80px);
					    color: #19CBC5;
					    padding: 5px 15px;
					    font-size: 13px;
					    font-family: 'Conv_bpg_nino_medium_caps';

					    &:focus + .ln_box {
					    	opacity:1;
					    }




					 }

					 button {
					 	color: #666666;
					 	font-size: 18px;
					 	font-family: 'Conv_bebas-neue-regular';
					 	background-color: #fff;
					 	padding: 3px 11px;
					 	outline: none;
					 	border: none;
					 	cursor: pointer;
					 }
				}


	 	  	 .footer_top_contact_tittle {
	 	  	 	text-align: center;

	 	  	 	  h3 {
	 	  	 	  	color: #fff;
	 	  	 	  	font-size: 23px;
	 	  	 	  	font-family: 'Conv_bebas-neue-regular';

	 	  	 	  }
	 	  	 }
	 	  }
	 }
}


.footer_main_info_wrapper {
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
    padding: 40px 0;

	  .footer_logo {
	  	width: 15%;
	  	 padding-top: 20px;


	  	 img {
	  	 	max-width: 135px;
	  	 }
	  }



	  .footer_about {

	  	width: 30%;


	  	.footer_about_us_tittle {
	  		text-align: center;
	  		margin-bottom: 15px;

	  		 h3 {
	  		 	color: #fff;
	  		 	font-family: 'Conv_bebas-neue-regular';
	  		 	font-size: 20px;
	  		 	position: relative;
	  		 	display: inline-block;


	  		 	&:after {
	  		 		content:"";
	  		 		position: absolute;
	  		 		left: 50%;
	  		 		transform: translateX(-50%);
	  		 		top: 110%;
	  		 		width: 30%;
	  		 		height: 1px;
	  		 		background-color: #fff;
	  		 	}

	  		 }
	  	}

	  }

	  .footer_about_text {
	  	p {
	  		font-family: 'Conv_bpg_web';
	  		color: #fff;
	  		text-align: justify;
	  		font-size: 12px;
	  	}
	  }
}


.footer_menu_tittle {
		margin-bottom: 15px;
	h3 {
				color: #fff;
	  		 	font-family: 'Conv_bebas-neue-regular';
	  		 	font-size: 20px;
	  		 	position: relative;
	  		 	display: inline-block;


	  		 	&:after {
	  		 		content:"";
	  		 		position: absolute;
	  		 		left: 50%;
	  		 		transform: translateX(-50%);
	  		 		top: 110%;
	  		 		width: 30%;
	  		 		height: 1px;
	  		 		background-color: #fff;
	  		 	}
	}
}
.footer_menu {
	width: 20%;
}

.footer_nav {

	

	 ul{

	 	 li {

	 	 	 a {
	 	 	 	font-size: 16px;
	 	 	 	color: #fff;
	 	 	 	font-family: 'Conv_bebas-neue-regular';
	 	 	 }
	 	 }
	 }
}

.footer_contacts {

	 .footer_contact_tittle {
	 	text-align: center;
	 	margin-bottom: 15px;

	 	 h3 {
	 	 		color: #fff;
	  		 	font-family: 'Conv_bebas-neue-regular';
	  		 	font-size: 20px;
	  		 	position: relative;
	  		 	display: inline-block;


	  		 	&:after {
	  		 		content:"";
	  		 		position: absolute;
	  		 		left: 50%;
	  		 		transform: translateX(-50%);
	  		 		top: 110%;
	  		 		width: 30%;
	  		 		height: 1px;
	  		 		background-color: #fff;
	  		 	}
	 	 }
	 }

	 .footer_contact_box {
	 	 &>span {
	 	 	display: block;
	 	 	color: #fff;
	 	 	font-family: 'Conv_bebas-neue-regular';
	 	 	font-size: 16px;


	 	 	 &:not(:last-child){
	 	 	 	margin-bottom: 30px;
	 	 	 }

	 	 	 img {
	 	 	 	padding-right: 10px;
	 	 	 }
	 	 }
	 }

}

.footer_contact_box>span:nth-child(2){

	margin-left: 4px;
}
.footer_contact_box>span:nth-child(3){

	margin-left: 2px;
}

.footer_menu_content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer_fa_icons {
	display: flex;
	justify-content: center;

	a {
		&:not(:last-child){

			display: inline-block;
			margin-right: 10px;
		}
	}
}

.main_logo {

	 a {

	 	 img {
	 	 	width: 98px;
	 	 }
	 }
}

 .post_hover_sc::-webkit-scrollbar {
    width: 1px;
}
 
.home_video_modal .modal-dialog {
	height: 50%;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) !important;
}

/*Responsive*/



/*@media only screen and (min-width: 1950px) {
.mountain_box {
	height: 72%;
}

}



@media only screen and (max-width: 1366px) {

.main_tittle_box h1 {
  
    font-size: 135px;
}

.main_tittle_box {
    transform: translate(0%, -144%);
}


.bottom_link_box .bottom_link a {
    font-size: 16px;
    width: 95px;
    height: 95px;
 
}

.bottom_link_box {
    left: 7%; 
}
.b_cloud img {
    max-width: 700px;
}

.b_cloud {
 
    left: -9%;
    top: -2%;
}

.en_menu_fluid .en_menu_container > div {
   
    width: 180px;
    height: 170px;
 
}

.m_culture_fluid a {

    font-size: 60px;
 
}

.top_scoll img {
	max-width: 50px;


}

}




@media only screen and (max-width: 1280px) {

.mountain_box {



    height: 60%;
   
}

.main_tittle_box {
    transform: translate(0%, -105%);
}

.bottom_link_box .bottom_link a {
    font-size: 12px;
    width: 80px;
    height: 80px;
}


}



@media only screen and (max-width: 1024px) and (max-height: 640px) {

.main_tittle_box h1 {
    font-size: 98px;
}

.b_cloud img {
    max-width: 600px;
}


}
*/